<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <title>{{ app.title }}</title>
</head>

<body>
    <div class="container" style="margin-top:20px">
        <form class="form">
            <div class="form-group">
                <input type="text" class="filter form-control" placeholder="Search...">
            </div>
        </form>

        {% for link in links %}
            <div class="link" style="margin-bottom:10px">
                <a href="{{ link.url }}">
                    {% if link.meta.type is defined %}
                        {% if link.meta.type == "photo" %}
                            <i class="icon-camera icon-fixed-width"></i>
                        {% elseif link.meta.type == "video" %}
                            <i class="icon-youtube-play icon-fixed-width"></i>
                        {% elseif link.meta.type == "error" %}
                            <i class="icon-remove icon-fixed-width"></i>
                        {% else %}
                            <i class="icon-file icon-fixed-width"></i>
                        {% endif %}
                    {% endif %}

                    {% if link.meta.title is defined %}
                        {{ link.meta.title }}
                        <small class="text-muted">({{ link.url }})</small>
                    {% else %}
                        {{ link.url }}
                    {% endif %}
                </a>

                <br>
                <span class="text-muted" style="font-size:0.9em">
                    linked {{ link.time|date("Y-m-d H:i") }}

                    {% if not app.hide_nicks %}
                        by {{ link.nick }}
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        $(function() {
            $(".filter").focus();
        });

        var rows = $(".link");
        $(".filter").keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, " ").toLowerCase();
            
            rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, " ").toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>
</body>

</html>
